body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #008CB3;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1c3244;
}

li {
  list-style-type: none;
}

footer {
  background-color: #1c3244;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

button {
  background-color: #1100aa;
  color: white;
  border: 20px solid #1100aa;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  position: center;
}