body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #008CB3;
}

#headernav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1c3244;
}