body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #008CB3;
}

header {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  background-color: transparent;
    color: #1100aa;
}

li {
  list-style-type: none;
}

footer {
  background-color: #1c3244;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

button {
  background-color: #1100aa;
  color: white;
  border: 20px solid #0b006d;
  border-radius: 20px;
  padding: 2px 2px;
  cursor: pointer;
  font-size: 10px;
  position: center;
}

#title {
  text-align: center;
  color: black;
  font-size: 36px;
  margin-top: 50px;
}