body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('image/SpaceBG.jpg');
  background-size: cover;
}

header {
  display: flex;
  padding: 20px 20px;
  background-color: transparent;
}

li {
  list-style-type: none;
}

footer {
  background-color: rgba(14, 0, 143, 0.5);
  color: white;
  text-align: center;
  padding: 0px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

button {
  background-color: #1100aa;
  color: white;
  border: 20px solid #0b006d;
  border-radius: 20px;
  padding: 2px 2px;
  cursor: pointer;
  font-size: 10px;
}

#title {
  text-align: center;
  color: black;
  font-size: 36px;
  margin-top: 50px;
}
button:hover {
  background-color: #0b006d;
  font-size: 12px;
  width: 100px;
}

p {
  background-color: rgba(17, 0, 170, 0.5);
  color: white;
  font-size: 18px;
  line-height: 1.6;
  margin: 20px;
}