body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('image/BackGround.png');
  background-size: cover;
}

header {
  padding: 20px 20px;
  background-color: transparent;
  opacity: 0.8;
}  

.headerc {
  display: flex;
  justify-content: center;
}

#logo {
  width: auto;
  justify-content: center;
}

li {
  list-style-type: none;
  width: auto;
}

footer {
  background-color: rgba(14, 0, 143, 0.5);
    opacity: 0.5;
  color: white;
  text-align: center;
  padding: 0px 0;
  width: 100%;
  bottom: 0;
}

button {
  background-color: #0b006d;
  border: 20px solid #0b006d;
  opacity: 0.9;
  color: white;
  border-radius: 20px;
  padding: 2px 2px;
  cursor: pointer;
  font-size: 10px;
}

#title {
  text-align: center;
  color: black;
  font-size: 36px;
  margin-top: 50px;
}
button:hover {
  background-color: #1503b4;
  border: 20px solid #0b006d;
  font-size: 12px;
  width: 100px;
}

p {
  background-color: #0b006d;
  border-radius: 5px;
  opacity: 0.6;
  color: white;
  font-size: 18px;
  line-height: 1.6;
  margin: 20px;
}